<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Кадровий склад - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Кадровий склад</h2>
                <h6>Інформація про доступність закладу освіти</h6>
            </div>
        </div>
    </div>
</section>

<section class="text-page" id="text-page">
    <div class="container">
        <h2 style="margin-bottom: 50px">Кадровий склад ВСП «Стрийський фаховий коледж Львівського НУП»</h2>

        <p style="font-size: 25px">Освітній процес забезпечують <span class="highlight">104</span> викладачі, у тому числі 11 сумісників.</p>
        <p style="font-size: 25px">Серед штатних педагогічних працівників:</p>
        <p style="font-size: 25px"><span class="highlight">4</span> доценти;</p>
        <p style="font-size: 25px"><span class="highlight">8</span> андидатів наук;</p>
        <p style="font-size: 25px"><span class="highlight">27</span> викладачів вищої категорії;</p>
        <p style="font-size: 25px">З них <span class="highlight">15</span> викладачів з педагогічним званням «викладач-методист»;</p>
        <p style="font-size: 25px"><span class="highlight">23</span> викладачі першої категорії;</p>
        <p style="font-size: 25px"><span class="highlight">14</span> викладачів другої категорії;</p>
        <p style="font-size: 25px"><span class="highlight">23</span> викладачі спеціалісти та магістри;</p>
    </div>

    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/cadre.pdf'></iframe>
</section>



<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
