<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Освітній процес - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Нормативні документи</h2>
                <h6>Інформація про нормативні документи щодо забезпечення якості освіти</h6>
            </div>
        </div>
    </div>
</section>

<section class="text-page">
    <h2>Положення про внутрішню систему забезпечення якості освіти</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PVSZJO.pdf'></iframe>

    <h2>Положення про гурткову роботу</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PHR.pdf'></iframe>

    <h2>Положення про екзамени та заліки</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PEZ.pdf'></iframe>

    <h2>Положення про директорські контрольні роботи</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PDKR.pdf'></iframe>

    <h2>Положення про моніторинг якості освіти</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PMJO.pdf'></iframe>

    <h2>Положення про конкурси професійної майстерності</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PKPM.pdf'></iframe>

    <h2>Положення про переведення, відрахування та поновлення здобувачів освіти</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PPVPZO.pdf'></iframe>

    <h2>Положення про організацію та проведення опитування</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/POPO.pdf'></iframe>

    <h2>Положення про проміжну атестацію</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PPA.pdf'></iframe>

    <h2>Положення про порядок створення та організацію роботи екзаменаційної комісії</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/positions/PEK.pdf'></iframe>

</section>



<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
