<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="/css/bootstrap-icons.css" rel="stylesheet">

  <title>Віхи історії - ВСП "СФК ЛНУП"</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/css/owl.css">
  <link rel="stylesheet" href="/css/lightbox.css">

</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Віхи історії</h2>
        <h6>Ключові етапи розвитку та становлення коледжу</h6>
      </div>
    </div>
  </div>
</section>


<section class="history-sequence" id="history-sequence">
  <div class="container">
    <div class="timeline">

      <div class="event">
        <div class="year">2020</div>
        <img src="/images/history-sequence/img.png" alt="Event 0">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Будівництво та цивільна інженерія"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2014</div>
        <img src="/images/history-sequence/img_1.png" alt="Event 1">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Обслуговування та ремонт електроустаткування автомобілів і тракторів"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2011</div>
        <img src="/images/history-sequence/img_2.png" alt="Event 2">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Обслуговування та ремонт автомобілів і двигунів"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2009</div>
        <img src="/images/history-sequence/img_3.png" alt="Event 3">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Обслуговування та ремонт автомобілів і двигунів"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2005</div>
        <img src="/images/history-sequence/img_4.png" alt="Event 4">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Організація обслуговування в готелях і туристичних комплексах"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2003</div>
        <img src="/images/history-sequence/img_5.png" alt="Event 5">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Експлуатація систем обробки інформації і прийняття рішень"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">2000</div>
        <img src="/images/history-sequence/img_6.png" alt="Event 6">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Біржова діяльність"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1999</div>
        <img src="/images/history-sequence/img_7.png" alt="Event 7">
        <div class="text">
          <h2>Технікум механізації і електрифікації</h2>
          <p>перейменовано в Стрийський державний аграрний коледж. (Рішення ДАК №40 від 09.06.1999 р. та наказ Міністерства АПК України №257 від 07.07.1999 р.)</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1999</div>
        <img src="/images/history-sequence/img_8.png" alt="Event 8">
        <div class="text">
          <h2>Розпочато підготовку механіків</h2>
          <p>за кваліфікаційним рівнем "бакалавр"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1998</div>
        <img src="/images/history-sequence/img_9.png" alt="Event 9">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Правознавство"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1995</div>
        <img src="/images/history-sequence/img_10.png" alt="Event 10">
        <div class="text">
          <h2>Ліцензовано спеціальність</h2>
          <p>"Бухгалтерський облік"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1990</div>
        <div class="text">
          <h2>Відкрито відділення</h2>
          <p>"Організація і технологія ведення фермерського господарства"</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1965</div>
        <img src="/images/history-sequence/img_11.png" alt="Event 12">
        <div class="text">
          <h2>Відкрито відділення</h2>
          <p>для підготовки техніків-електриків</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1952</div>
        <img src="/images/history-sequence/img_12.png" alt="Event 12">
        <div class="text">
          <h2>Організовано заочне відділення</h2>
          <p>на основі наказу МСГ УРСР №496 від 27 лютого 1951 року</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1947-1957</div>
        <div class="text">
          <h2>Розташовано навчальну базу</h2>
          <p>по вул. Грабовецькій (колишня Комарова) в м.Стрий</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1945-1947</div>
        <div class="text">
          <h2>Перенесено навчальний заклад</h2>
          <p>в с. Підгірці в колишню панську садибу</p>
        </div>
      </div>

      <div class="event">
        <div class="year">1939</div>
        <div class="text">
          <h2>Постанова РНК СРСР</h2>
          <p>про заснування технікуму механізації сільського господарства</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="footer">
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase mb-4" style="font-weight: 800;">
              <i class="fas fa-gem me-3"></i>СФК ЛНУП
            </h6>
            <p>
              Авторські права на всі матеріали, представлені на цьому сайті, належать ВСП "Стрийський фаховий коледж Львівського НУП" або безпосередньому авторові цих матеріалів.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4" style="font-weight: 800;">
              Ми в соціальних мережах
            </h6>
            <p style="text-align: center">
              <a href="https://www.facebook.com/groups/sclnau" class="social-icon-link bi-facebook"> Facebook</a>
            </p>
            <p style="text-align: center">
              <a href="https://www.youtube.com/channel/UCOB4xAFAC2Btl59mO7C82og" class="social-icon-link bi-youtube"> Youtube</a>
            </p>
            <p style="text-align: center">
              <a href="https://www.instagram.com/stryicollege/" class="social-icon-link bi-instagram"> Instagram</a>
            </p>
            <p style="text-align: center">
              <a href="https://t.me/sclnau" class="social-icon-link bi-telegram"> Telegram</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4" style="font-weight: 800;">
              Посилання
            </h6>
            <p>
              <a href="/" class="text-reset">Головна</a>
            </p>
            <p>
              <a href="/about-us/news" class="text-reset">Новини</a>
            </p>
            <p>
              <a href="/about-us/licenced-volume" class="text-reset">Ліцензований обсяг</a>
            </p>
            <p>
              <a href="/about-us/public-info" class="text-reset">Публічна іформація</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4" style="font-weight: 800;">Контакти</h6>
            <p><i class="social-icon bi-map"></i>  м.Стрий, вул. Львівська, 169</p>
            <p><i class="social-icon bi-mailbox"></i>  mail@sclnau.com.ua</p>
            <p><i class="social-icon bi-phone"></i>  (03245) 5-20-02</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.25);">
      © 2024 Розробник:
      <a class="text-reset" href="https://t.me/hahaha_prekol">Огоновський Юрій</a>
    </div>
    <!-- Copyright -->
  </footer>
</section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
      event.preventDefault();
      const $parentLi = $(this).parent('li.has-sub');
      $parentLi.toggleClass('active').siblings().removeClass('active');
    });
  });
</script>

</body>

</html>
