<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Ліцензований обсяг - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Ліцензований обсяг</h2>
                <h6>Інформація про ліцензований обсяг ЗФПО за кожною спеціальністю</h6>
            </div>
        </div>
    </div>
</section>

<section class="specialties-page" id="specialties">
    <div class="container">
        <table class="specialties-table">
            <thead>
            <tr>
                <th>Код і назва спеціальності</th>
                <th>Денна</th>
                <th>Заочна</th>
                <th>Рішення про ліцензування</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>071 Облік і оподаткування</td>
                <td>30</td>
                <td>20</td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>072 Фінанси, банківська справа та страхування</td>
                <td>20</td>
                <td></td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>081 Право</td>
                <td>50</td>
                <td>25</td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>122 Комп'ютерні науки</td>
                <td>50</td>
                <td>25</td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>141 Електроенергетика, електротехніка та електромеханіка</td>
                <td>50</td>
                <td>30</td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>192 Будівництво та цивільна інженерія</td>
                <td>50</td>
                <td></td>
                <td>Наказ МОН від 22.02.2021 № 19-л</td>
            </tr>
            <tr>
                <td>193 Геодезія та землеустрій</td>
                <td>50</td>
                <td></td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>208 Агроінженерія</td>
                <td>75</td>
                <td>50</td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>242 Туризм</td>
                <td>25</td>
                <td></td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            <tr>
                <td>274 Автомобільний транспорт</td>
                <td>50</td>
                <td></td>
                <td>Наказ МОН від 06.11.2019 № 979-л</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
