<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
  <title>Освітній процес - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Матеріально-технічна база</h2>
        <h6>Інформація про матеріально-технічну базу</h6>
      </div>
    </div>
  </div>
</section>


<section class="material-technical-base">
  <div class="container">
    <div class="icon-container">
      <div class="icon">
        <i class="fa fa-building"></i>
        <div class="count-digit">4</div>
        <div class="label">НАВЧАЛЬНІ КОРПУСИ</div>
      </div>
      <div class="icon">
        <i class="fa fa-bed"></i>
        <div class="count-digit">305</div>
        <div class="label">МІСЦЬ В ГУРТОЖИТКАХ</div>
      </div>
      <div class="icon">
        <i class="fa fa-book"></i>
        <div class="count-digit">65000</div>
        <div class="label">КНИЖКОВИЙ ФОНД</div>
      </div>
      <div class="icon">
        <i class="fa fa-map-marker"></i>
        <div>
          <div class="count-digit" style="display: inline-block">916</div>
          <div class="count" style="display: inline-block">га</div>
        </div>
        <div class="label">ПЛОЩА ЗЕМЕЛЬ</div>
      </div>
    </div>

    <div class="block-container">
      <div class="left-block">
        <ul>
          <li><h2>Навчально-виробнича майстерня</h2> з ремонту та технічного сервісу вантажних та легкових автомобілів і сільськогосподарської техніки;</li>
          <li><h2>Навчально-дослідне господарство</h2> загальною площею 916 га, з них - 656 га ріллі, тваринницька ферма на 100 голів ВРХ;</li>
          <li><h2>Електромонтажна майстерня;</h2></li>
          <li><h2>Автотракторний парк;</h2></li>
          <li><h2>Полігон</h2> для навчальної їзди на тракторах і автомобілях;</li>
          <li><h2>Теплиця</h2> для вирощування декоративних рослин;</li>
          <li><h2>Навчально-туристична фірма;</h2></li>
          <li><h2>Навчальний готель;</h2></li>
        </ul>
      </div>
      <div class="right-block">
        <ul>
          <li>Два гуртожитки на <span class="highlight count-digit">305</span> місць;</li>
          <li>Їдальня на <span class="highlight count-digit">100</span> місць;</li>
          <li><h2>Студентське кафе;</h2></li>
          <li>Бібліотека з книжковим фондом <span class="highlight count-digit">65000</span> примірників;</li>
          <li><span class="highlight">2</span> читальні зали;</li>
          <li><h2>Інформаційний Інтернет-центр;</h2></li>
          <li><h2>Медичний кабінет;</h2></li>
          <li><h2>Стоматологічний кабінет;</h2></li>
          <li><h2>Спортивно-туристичний комплекс</h2> (спортивний, борцівський та тренажерний зали; кінно-спортивний клуб; стадіон, спортмайданчики, туристична база в с. Дубино (Карпати);</li>
          <li><h2>Музеї:</h2>"Паралелі буття", "Обереги роду нашого", історії січового стрілецтва та хліба;</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section style="padding-bottom: 130px">
  <div class="container">
    <div class="row">
      <div class="align-self-center">
        <div class="accordions" style="border: 1px solid">

          <article class="accordion">
            <div class="accordion-head">
              <span>Відомості про матеріально-технічне забезпечення освітньої діяльності</span>
              <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
            </div>
            <div class="accordion-body">
              <div class="content">
                <iframe width="100%" height="450px" src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/material-tech-base/VMTZNP.pdf'></iframe>
              </div>
            </div>
          </article>

          <article class="accordion last-accordion">
            <div class="accordion-head">
              <span>Обладнання лабораторій та кабінетів</span>
              <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
            </div>
            <div class="accordion-body">
              <div class="content">
                <h2 style="text-align: center">141 Електроенергетика, електротехніка та електромеханіка</h2>
                <iframe width="100%" height="450px" src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/material-tech-base/E.pdf'></iframe>
                 <h2 style="text-align: center">274 Автомобільний транспорт</h2>
                <iframe width="100%" height="450px" src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/material-tech-base/A.pdf'></iframe>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
      event.preventDefault();
      const $parentLi = $(this).parent('li.has-sub');
      $parentLi.toggleClass('active').siblings().removeClass('active');
    });
  });
</script>

</body>

</html>
