<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title th:text="${news.getCaption() + ' - Новина ВСП &quot;CФК ЛНУП&quot;'}"></title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Більше про</h6>
          <h2 th:text="${news.getCaption()}"></h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                    <div class="date">
                        <h6 th:text="${#dates.format(news.getCreationDate(), 'MMM')}"></h6>
                        <span th:text="${#dates.format(news.getCreationDate(), 'dd')}"></span>
                        <span th:text="${#dates.format(news.getCreationDate(), 'yyyy')}"></span>
                    </div>
                  <img th:src="${news.getPhoto().getPath()}" alt="">
                </div>
                <div class="down-content">
                  <a><h4 th:text="${news.getCaption()}"></h4></a>
                  <p class="description" th:text="${news.getBodyText()}"></p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5 th:text="'Перегляди: ' + ${news.getViews()}"></h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5 th:text="'Розташування: ' + ${news.getLocation()}"></h5>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="share">
                        <h5>Поділитись новиною:</h5>
                        <ul>
                          <li><a th:href="@{'https://www.facebook.com/sharer/sharer.php?u=sclnau.com.ua/about-us/news/' + ${news.id}}">Facebook</a>,</li>
                          <li><a th:href="@{'https://twitter.com/intent/tweet?url=sclnau.com.ua/about-us/news/' + ${news.id} + '&text=' + ${#uris.escapeQueryParam(news.getCaption())}}" target="_blank">Twitter</a>,</li>
                          <li><a th:href="@{'https://www.linkedin.com/shareArticle?url=sclnau.com.ua/about-us/news/' + ${news.id} + '&title=' + ${#uris.escapeQueryParam(news.getCaption())}}" target="_blank">LinkedIn</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-green">
                <a th:href="@{/about-us/news}">Назад до новин</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/slick-slider.js"></script>
    <script src="/js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
                event.preventDefault();
                const $parentLi = $(this).parent('li.has-sub');
                $parentLi.toggleClass('active').siblings().removeClass('active');
            });
        });
    </script>
  </body>
</html>
