<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Новини - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Новини</h2>
          <h6>Все, що відбувається в коледжі і не тільки</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
                <div class="row grid">
                    <div class="col-lg-4 col-md-6 templatemo-item-col all soon" th:each="news : ${allNews}">
                      <div class="meeting-item">
                        <div class="thumb">
                          <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><img th:src="${news.getPhoto().getPath()}" alt=""></a>
                        </div>
                        <div class="down-content">
                          <div class="date">
                            <h6 th:text="${#dates.format(news.getCreationDate(), 'MMM')}"></h6>
                            <span th:text="${#dates.format(news.getCreationDate(), 'dd')}"></span>
                          </div>
                          <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><h4 th:text="${news.getCaption()}"></h4></a>
                          <p th:text="${news.getShortDesc()}"></p>
                        </div>
                      </div>
                    </div>
                </div>
              <div class="col-lg-12">
                <!--        TODO MAKE FIRST 3 PAGES AND 3 LAST WITH (...) BUTTON BETWEEN  -->
                <div class="pagination">
                  <ul th:each="page : ${totalPages}">
                    <li>
                      <a th:if="${currentPage != 0}" th:href="@{'/about-us/news?page=' + ${currentPage - 1}}">
                        <i class="fa fa-angle-left"></i>
                      </a>
                    </li>
                    <li th:class="${currentPage == pageNumber} ? 'active' : ''"
                        th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                      <a th:href="@{'/about-us/news?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
                    </li>
                    <li>
                      <a th:if="${currentPage != totalPages - 1}" th:href="@{'/about-us/news?page=' + ${currentPage + 1}}">
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
      </div>
    </div>
  </section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/slick-slider.js"></script>
    <script src="/js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
          event.preventDefault();
          const $parentLi = $(this).parent('li.has-sub');
          $parentLi.toggleClass('active').siblings().removeClass('active');
        });
      });
    </script>

  </body>

</html>
