<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <title th:text="${news.getCaption() + ' - Новина ВСП &quot;CФК ЛНУП&quot;'}"></title>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Більше про</h6>
          <h2 th:text="${news.getCaption()}"></h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                    <div class="date">
                        <h6 th:text="${#dates.format(news.getCreationDate(), 'MMM')}"></h6>
                        <span th:text="${#dates.format(news.getCreationDate(), 'dd')}"></span>
                        <span th:text="${#dates.format(news.getCreationDate(), 'yyyy')}"></span>
                    </div>
                  <img th:src="${news.getPhoto().getPath()}" alt="">
                </div>
                <div class="down-content">
                  <a><h4 th:text="${news.getCaption()}"></h4></a>
                  <p class="description" th:text="${news.getBodyText()}"></p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5 th:text="'Перегляди: ' + ${news.getViews()}"></h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5 th:text="'Розташування: ' + ${news.getLocation()}"></h5>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="share">
                        <h5>Поділитись новиною:</h5>
                        <ul>
                          <li><a th:href="@{'https://www.facebook.com/sharer/sharer.php?u=sclnau.com.ua/about-us/news/' + ${news.id}}">Facebook</a>,</li>
                          <li><a th:href="@{'https://twitter.com/intent/tweet?url=sclnau.com.ua/about-us/news/' + ${news.id} + '&text=' + ${#uris.escapeQueryParam(news.getCaption())}}" target="_blank">Twitter</a>,</li>
                          <li><a th:href="@{'https://www.linkedin.com/shareArticle?url=sclnau.com.ua/about-us/news/' + ${news.id} + '&title=' + ${#uris.escapeQueryParam(news.getCaption())}}" target="_blank">LinkedIn</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-green">
                <a th:href="@{/about-us/news}">Назад до новин</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer">
      <footer class="text-center text-lg-start bg-body-tertiary text-muted">
          <section class="">
              <div class="container text-center text-md-start mt-5">
                  <div class="row mt-3">
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                          <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                              <i class="fas fa-gem me-3"></i>СФК ЛНУП
                          </h6>
                          <p>
                              Авторські права на всі матеріали, представлені на цьому сайті, належать ВСП "Стрийський фаховий коледж Львівського НУП" або безпосередньому авторові цих матеріалів.
                          </p>
                      </div>

                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                              Ми в соціальних мережах
                          </h6>
                          <p style="text-align: center">
                              <a href="https://www.facebook.com/groups/sclnau" class="social-icon-link bi-facebook"> Facebook</a>
                          </p>
                          <p style="text-align: center">
                              <a href="https://www.youtube.com/channel/UCOB4xAFAC2Btl59mO7C82og" class="social-icon-link bi-youtube"> Youtube</a>
                          </p>
                          <p style="text-align: center">
                              <a href="https://www.instagram.com/stryicollege/" class="social-icon-link bi-instagram"> Instagram</a>
                          </p>
                          <p style="text-align: center">
                              <a href="https://t.me/sclnau" class="social-icon-link bi-telegram"> Telegram</a>
                          </p>
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                              Посилання
                          </h6>
                          <p>
                              <a href="/" class="text-reset">Головна</a>
                          </p>
                          <p>
                              <a href="/about-us/news" class="text-reset">Новини</a>
                          </p>
                          <p>
                              <a href="/about-us/licenced-volume" class="text-reset">Ліцензований обсяг</a>
                          </p>
                          <p>
                              <a href="/about-us/public-info" class="text-reset">Публічна іформація</a>
                          </p>
                      </div>
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase mb-4" style="font-weight: 800;">Контакти</h6>
                          <p><i class="social-icon bi-map"></i>  м.Стрий, вул. Львівська, 169</p>
                          <p><i class="social-icon bi-mailbox"></i>  mail@sclnau.com.ua</p>
                          <p><i class="social-icon bi-phone"></i>  (03245) 5-20-02</p>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Section: Links  -->

          <!-- Copyright -->
          <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.25);">
              © 2024 Розробник:
              <a class="text-reset" href="https://t.me/hahaha_prekol">Огоновський Юрій</a>
          </div>
          <!-- Copyright -->
      </footer>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/slick-slider.js"></script>
    <script src="/js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
                event.preventDefault();
                const $parentLi = $(this).parent('li.has-sub');
                $parentLi.toggleClass('active').siblings().removeClass('active');
            });
        });
    </script>
  </body>
</html>
