<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Звітність - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Звітність</h2>
                <h6>Звіти про використання коштів</h6>
            </div>
        </div>
    </div>
</section>

<section class="text-page">
    <h2>Річний план закупівельна на 2023 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/RPZ-2023.pdf'></iframe>

    <h2>Кошторис 2023</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/K-2023.pdf'></iframe>

    <h2>Кошторис 2022</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/K-2022.pdf'></iframe>

    <h2>Кошторис 2021</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/K-2021.pdf'></iframe>

    <h2>Звітність за 2022 р.</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/FZ-2022.pdf'></iframe>

    <h2>Звітність за 2021 р.</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/FZ-2021.pdf'></iframe>

    <h2>Бюджет 2023</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/B-2023.pdf'></iframe>

    <h2>Бюджет 2022</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/B-2022.pdf'></iframe>

    <h2>Бюджет 2021</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/B-2021.pdf'></iframe>

    <h2>Благодійна допомога</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/reportings/BD-2023.pdf'></iframe>

</section>



<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
