<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Звіти про діяльність - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Звіти про діяльність</h2>
                <h6>Інформація щодо звітів про діяльність</h6>
            </div>
        </div>
    </div>
</section>

<section class="text-page">
    <h2>Звіт директора за 2023 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2023t.pdf'></iframe>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2023p.pdf'></iframe>

    <h2>Звіт директора за 2022 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2022t.pdf'></iframe>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2022p.pdf'></iframe>

    <h2>Звіт директора за 2021 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2021t.pdf'></iframe>

    <h2>Звіт директора за 2020 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2020t.pdf'></iframe>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2020p.pdf'></iframe>

    <h2>Звіт директора за 2019 рік</h2>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2019t.pdf'></iframe>
    <iframe src ='/pdfjs/web/viewer.html?file=/documents/pdfjs/activity-reports/Zvit2019p.pdf'></iframe>

</section>



<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
