<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>Внутрішня система забезпечення якості освіти - ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Внутрішня система забезпечення якості освіти</h2>
                <h6>Інформація про внутрішню система забезпечення якості освіти</h6>
            </div>
        </div>
    </div>
</section>


<section class="text-page" id="text-page">
    <div class="container">
        <h2>Система забезпечення якості освіти</h2>

        <p>Відповідно до Методичних рекомендацій щодо розроблення стандартів фахової передвищої освіти, затверджених Наказом Міністерства освіти і науки України 13.07.2020 р. №918, до наявності системи внутрішнього забезпечення якості фахової передвищої освіти ставляться такі вимоги:</p>

        <ul>
            <li>принципи та процедури забезпечення якості фахової передвищої освіти;</li>
            <li>моніторинг та періодичний перегляд освітньо-професійних програм;</li>
            <li>оцінювання здобувачів фахової передвищої освіти;</li>
            <li>підвищення кваліфікації науково-педагогічних і педагогічних працівників закладів фахової передвищої освіти;</li>
            <li>наявність необхідних ресурсів для організації освітнього процесу;</li>
            <li>наявність інформаційних систем для ефективного управління освітнім процесом;</li>
            <li>публічність інформації про освітньо-професійні програми, ступінь фахової передвищої освіти та кваліфікації;</li>
        </ul>

        <p>забезпечення дотримання академічної доброчесності працівниками закладів фахової передвищої освіти та здобувачами фахової передвищої освіти, у тому числі запобігання та виявлення академічного плагіату.</p>

        <h2>Система внутрішнього забезпечення якості освіти у ВСП «Стрийський фаховий коледж ЛНУП»</h2>

        <p>Відповідно до Методичних рекомендацій щодо розроблення стандартів фахової передвищої освіти, затверджених Наказом Міністерства освіти і науки України 13.07.2020 р. №918, до наявності системи внутрішнього забезпечення якості фахової передвищої освіти ставляться такі вимоги:</p>

        <ul>
            <li>принципи та процедури забезпечення якості фахової передвищої освіти;</li>
            <li>моніторинг та періодичний перегляд освітньо-професійних програм;</li>
            <li>оцінювання здобувачів фахової передвищої освіти;</li>
            <li>підвищення кваліфікації науково-педагогічних і педагогічних працівників закладів фахової передвищої освіти;</li>
            <li>наявність необхідних ресурсів для організації освітнього процесу;</li>
            <li>наявність інформаційних систем для ефективного управління освітнім процесом;</li>
            <li>публічність інформації про освітньо-професійні програми, ступінь фахової передвищої освіти та кваліфікації;</li>
        </ul>

        <p>забезпечення дотримання академічної доброчесності працівниками закладів фахової передвищої освіти та здобувачами фахової передвищої освіти, у тому числі запобігання та виявлення академічного плагіату.</p>
    </div>
</section>

<section style="padding-bottom: 130px">
    <div class="container">
        <div class="row">
            <div class="align-self-center">
                <div class="accordions" style="border: 1px solid">

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Принципи забезпечення якості освіти</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <ul>
                                    <li>відповідність європейським та національним стандартам якості фахової передвищої освіти;</li>
                                    <li>автономія закладу освіти, який несе відповідальність за забезпечення якості освітньої діяльності та якості фахової передвищої освіти;</li>
                                    <li>здійснення моніторингу якості;</li>
                                    <li>системний підхід, який передбачає управління якістю на всіх стадіях освітнього процесу;</li>
                                    <li>постійне підвищення якості освітнього процесу;</li>
                                    <li>залучення здобувачів освіти, роботодавців та інших зацікавлених сторін до процесу забезпечення якості фахової передвищої освіти;</li>
                                    <li>відкритість інформації на всіх етапах забезпечення якості.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Процедури забезпечення якості освіти</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <ul>
                                    <li>удосконалення планування освітньої діяльності: моніторинг та періодичне оновлення освітньо-професійних програм;</li>
                                    <li>якісний відбір контингенту здобувачів фахової передвищої освіти освітнього-професійного ступеню фаховий молодший бакалавр;</li>
                                    <li>збільшення частки викладачів з науковими ступенями, вищою кваліфікаційною категорією та педагогічними званнями у складі випускаючих циклових комісій ВСП «Стрийський фаховий коледж ЛНУП»;</li>
                                    <li>удосконалення матеріально-технічної та навчально-методичної баз для реалізації освітнього процесу;</li>
                                    <li>забезпечення необхідних ресурсів для підтримки здобувачів передвищої освіти за освітньо-професійним ступенем фаховий молодший бакалавр;</li>
                                    <li>розвиток інформаційних систем з метою підвищення ефективності управління освітнім процесом;</li>
                                    <li>забезпечення публічності інформації про діяльність ВСП «Стрийський фаховий коледж ЛНУП»;</li>
                                    <li>створення ефективної системи запобігання та виявлення академічного плагіату у наукових та методичних розробках працівників ВСП «Стрийський фаховий коледж ЛНУП» та здобувачів фахової передвищої освіти;</li>
                                    <li>створення ефективної системи запобігання корупції та хабарництву в освітньому процесі у ВСП «Стрийський фаховий коледж ЛНУП».</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Процедури розробки, моніторингу та періодичного перегляду освітньо-професійних програм</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Розробка, моніторинг та періодичний перегляд освітньо-професійних програм проводиться за вимогами Положення про розробку, затвердження, періодичний перегляд та закриття освітньо-професійних програм у ВСП «Стрийський фаховий коледж Львівського національного університету природокористування». Критерії, за якими відбувається перегляд освітньо-професійної програми, формуються як результат зворотного зв’язку із педагогічними працівниками, здобувачами освіти, випускниками, роботодавцями, так і внаслідок прогнозування розвитку галузі, потреб суспільства та ринку праці.</p>
                                <p>Показниками сучасності освітньо-професійної програми є:</p>
                                <ul>
                                    <li>оновлюваність;</li>
                                    <li>участь роботодавців у розробці та внесенні змін в освітньо-професійну програму;</li>
                                    <li>рівень задоволеності випускників змістом освітньо-професійної програми;</li>
                                    <li>відгуки роботодавців про рівень підготовки випускників.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Принципи забезпечення якості освіти</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Оцінювання знань та практичних умінь здобувачів освіти здійснюється у ВСП «Стрийський фаховий коледж ЛНУП» на підставі:</p>
                                <ul>
                                    <li>Положення про організацію освітнього процесу</li>
                                    <li>Положення про проміжну атестацію</li>
                                    <li>Положення про проведення поточного та підсумкового контролю знань студентів</li>
                                    <li>Положення про екзамени та заліки</li>
                                    <li>Положення про директорські контрольні роботи</li>
                                    <li>Положення про екзаменаційну комісію та інші документи</li>
                                </ul>
                                <p>Система оцінювання якості підготовки здобувачів освіти включає: поточний, рубіжний, семестровий, підсумковий контроль та атестацію здобувачів фахової передвищої освіти, які здобувають ступінь фахового молодшого бакалавра.</p>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Підвищення кваліфікації науково-педагогічних і педагогічних працівників закладів фахової передвищої освіти</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Підвищення кваліфікації науково-педагогічних і педагогічних працівників здійснюється відповідно до Положення про підвищення кваліфікації.</p>
                                <p>Педагогічні та науково-педагогічні працівники ВСП «Стрийський фаховий коледж ЛНУП» постійно підвищує кваліфікацію за різними формами. У самому коледжі реалізуються форми підвищення педагогічної майстерності через семінари, майстер-класи, тренінги, конференції, вебінари, круглі столи, школи молодого викладача тощо.</p>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Наявність необхідних ресурсів для організації освітнього процесу</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Ресурси для організації освітнього процесу у ВСП «Стрийський фаховий коледж ЛНУП»:</p>
                                <ul>
                                    <li>освітньо-професійні програми;</li>
                                    <li>навчальний план;</li>
                                    <li>робочий навчальний план;</li>
                                    <li>робочі програми навчальних дисциплін та практик;</li>
                                    <li>силабуси дисциплін.</li>
                                </ul>
                                <p>Відповідно до чинних ліцензійних умов:</p>
                                <ul>
                                    <li>належне навчально-методичне забезпечення (комплекси) навчальних дисциплін;</li>
                                    <li>сучасні інформаційні джерела та комп’ютерна техніка;</li>
                                    <li>бібліотека із сучасною навчальною літературою, науковими, довідниковими та фаховими періодичними виданнями;</li>
                                    <li>інформаційно-комунікаційні засоби зв’язку;</li>
                                    <li>наявність баз для проведення всіх видів практики;</li>
                                    <li>кадрове забезпечення викладання навчальних дисциплін.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Наявність інформаційних систем для ефективного управління освітнім процесом</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <ul>
                                    <li>Електронна система збору і аналізу інформації (ЄДЕБО).</li>
                                    <li>Електронна скринька.</li>
                                    <li>Прикладні програми Google та Microsoft.</li>
                                    <li>Програма ZOOM.</li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Публічність інформації про освітньо-професійні програми, ступінь фахової передвищої освіти та кваліфікації</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Наявність офіційного сайту ВСП «Стрийський фаховий коледж ЛНУП», на якому оприлюднюються: положення про організацію освітнього процесу та інші положення, що регламентують діяльність коледжу; правила прийому; ступені освіти, за якими проводиться підготовка фахівців; дані про освітньо-професійні програми, ліцензії тощо.</p>
                            </div>
                        </div>
                    </article>

                    <article class="accordion last-accordion">
                        <div class="accordion-head">
                            <span>Забезпечення дотримання академічної доброчесності працівниками закладів фахової передвищої освіти та здобувачами фахової передвищої освіти, у тому числі запобігання та виявлення академічного плагіату.</span>
                            <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
                        </div>
                        <div class="accordion-body">
                            <div class="content text-page">
                                <p>Розроблене та діє Положення про академічну доброчесність у ВСП «Стрийський фаховий коледж ЛНУП», Положення про комісію з питань академічної доброчесності, Кодекс академічної доброчесності.</p>0

                                <p>Процедури та заходи:</p>
                                <ul>
                                    <li>формування колективу закладу освіти, який не сприймає і не допускає академічну нечесність;</li>
                                    <li>створення умов нетерпимості до випадків академічного плагіату;</li>
                                    <li>перевірка робіт на плагіат;</li>
                                    <li>виявлення та притягнення до відповідальності винних у академічному плагіаті.</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/video.js"></script>
<script src="/js/slick-slider.js"></script>
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
            event.preventDefault();
            const $parentLi = $(this).parent('li.has-sub');
            $parentLi.toggleClass('active').siblings().removeClass('active');
        });
    });
</script>

</body>

</html>
