<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <title>ВСП "СФК ЛНУП"</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          SFKLNUP
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Головна</a></li>

                        <li class="has-sub main-menu">
                          <a href="javascript:void(0)" class="non-clickable">Про нас</a>
                          <ul class="sub-menu">
                            <li><a th:href="@{/about-us/news}">Новини</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Відділення</a>
                              <ul class="sub-menu">
                                <li class="has-sub">
                                  <a href="" class="non-clickable">Відділення механіки та енергетики</a>
                                  <ul class="sub-menu">
                                    <li class="has-sub">
                                      <a href="" class="non-clickable">Документи</a>
                                      <ul class="sub-menu">
                                        <li><a href="/documents/meh/PRV.pdf" target="_blank">План роботи відділення</a></li>
                                        <li><a href="/documents/meh/RSE3.pdf" target="_blank">Розклад екзаменів III курсу</a></li>
                                        <li><a href="/documents/meh/RSE4.pdf" target="_blank">Розклад екзаменів IV курсу</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                                <li class="has-sub">
                                  <a href="" class="non-clickable">Відділення будівництва, геодезії та комп’ютерних наук</a>
                                  <ul class="sub-menu">
                                    <li class="has-sub">
                                      <a href="" class="non-clickable">Документи</a>
                                      <ul class="sub-menu">
                                        <li><a href="/documents/bud/PRV.pdf" target="_blank">План роботи відділення</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                                <li class="has-sub">
                                  <a href="" class="non-clickable">Відділення економіки, права і туризму</a>
                                  <ul class="sub-menu">
                                    <li class="has-sub">
                                      <a href="" class="non-clickable">Документи</a>
                                      <ul class="sub-menu">
                                        <li><a href="/documents/tur/PRV.pdf" target="_blank">План роботи</a></li>
                                        <li><a href="/documents/tur/RET4.pdf" target="_blank">Розклад здачі підсумкових екзаменів IV курсу спеціальності "Туризм"</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li><a href="">Циклові комісії -</a></li>
                            <li><a href="/about-us/licenced-volume">Ліцензований обсяг</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Публічна інформація +-</a>
                              <ul class="sub-menu">
                                <li><a href="/about-us/public-info">Доступ до публічної інформації</a></li>
                                <li class="has-sub">
                                  <a href="javascript:void(0)" class="non-clickable">Ліцензії та сертифікати</a>
                                  <ul class="sub-menu">
                                    <li><a href="/about-us/public-info/licences">Ліцензії</a></li>
                                    <li><a href="/about-us/public-info/certificates">Сертифікати</a></li>
                                  </ul>
                                </li>
                                <li class="has-sub">
                                  <a href="javascript:void(0)" class="non-clickable">Нормативні документи -</a>
                                  <ul class="sub-menu">
                                    <li><a href="">Загальні</a></li>
                                    <li><a href="">Освітній процес</a></li>
                                  </ul>
                                </li>
                                <li class="has-sub">
                                  <a href="javascript:void(0)" class="non-clickable">Фінансова діяльність</a>
                                  <ul class="sub-menu">
                                    <li><a href="/about-us/public-info/financial-activity/paid-services">Платні послуги</a></li>
                                    <li><a href="/about-us/public-info/financial-activity/reportings">Звітність</a></li>
                                    <li><a href="/about-us/public-info/financial-activity/payment-details">Платіжні реквізити</a></li>
                                  </ul>
                                </li>
                                <li><a href="/about-us/public-info/activity-reports">Звіти про діяльність</a></li>
                                <li><a href="/about-us/public-info/cadre">Кадровий склад</a></li>
                                <li><a href="/about-us/public-info/availability">Умови доступності закладу освіти</a></li>
                                <li><a href="">Вибори директора -</a></li>
                              </ul>
                            </li>
                            <li><a href="">Моніторинг -</a></li>
                            <li><a href="">Профспілковий комітет -</a></li>
                            <li><a href="">Матеріально-технічна база -</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Бібліотека</a>
                              <ul class="sub-menu">
                                <li><a href="/about-us/library/terms">Загальна інформація</a></li>
                                <li><a href="/about-us/library/new">Нові надходження</a></li>
                                <li><a href="/about-us/library/periodicals">Періодичні видання</a></li>
                                <li><a href="https://elib.sclnau.com.ua" rel="noopener noreferrer" target="_blank">Електронна бібліотека</a></li>
                              </ul>
                            </li>
                            <li><a href="/documents/MOP.pdf" target="_blank">Мова освітнього процесу</a></li>
                            <li><a href="/about-us/photo-gallery">Фотогалерея</a></li>
                            <li><a href="/about-us/historical-sequence">Віхи історії</a></li>
                            <li><a href="/about-us/international-relations">Міжнародні зв'язки</a></li>
                          </ul>
                        </li>

                <!--                        START OF PROCESS            -->
                        <li class="has-sub main-menu">
                          <a href="javascript:void(0)" class="non-clickable">Освітній процес</a>
                          <ul class="sub-menu">
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Забезпечення якості освіти</a>
                              <ul class="sub-menu">
                                <li><a href="">Внутрішня система забезпечення якості освіти</a></li>
                                <li><a href="">Нормативні документи</a></li>
                                <li><a href="">Рада з якості освіти</a></li>
                                <li><a href="">Академічна доброчесність</a></li>
                                <li><a href="">Антикорупційна дільність</a></li>
                              </ul>
                            </li>
                            <li><a href="">Освітні програми</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Формування індивідуальної освітньої траєкторії</a>
                              <ul class="sub-menu">
                                <li><a href="">Силабуси дисциплін</a></li>
                                <li><a href="">Вибіркові дисципліни</a></li>
                                <li><a href="">Етапи вибору дисциплін</a></li>
                              </ul>
                            </li>
                            <li><a href="">Неформальна/інформальна освіта</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Практична підготовка</a>
                              <ul class="sub-menu">
                                <li><a href="">Професійно-технічне навчання</a></li>
                                <li><a href="">Навчально-виробнича майстерня</a></li>
                                <!-- Add the rest of the items for "Практична підготовка" similarly -->
                              </ul>
                            </li>
                            <li><a href="">Працевлаштування</a></li>
                            <li class="has-sub">
                              <a href="javascript:void(0)" class="non-clickable">Безпека освітнього середовища</a>
                              <ul class="sub-menu">
                                <li class="has-sub">
                                  <a href="javascript:void(0)" class="non-clickable">Охорона праці та цивільний захист</a>
                                  <ul class="sub-menu">
                                    <li class="has-sub">
                                      <a href="javascript:void(0)" class="non-clickable">Охорона праці</a>
                                      <ul class="sub-menu">
                                        <li><a href="">Документи</a></li>
                                        <li><a href="">Програми</a></li>
                                        <li><a href="">Інструкції</a></li>
                                        <li><a href="">Корисні посилання</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                                <li><a href="">Безпека в Інтернеті</a></li>
                              </ul>
                            </li>
                            <li><a href="https://edu.sclnau.com.ua" rel="noopener noreferrer" target="_blank">Система обліку відвідування аудиторних занять (СОВА)</a></li>
                            <li><a href="https://classroom.google.com" rel="noopener noreferrer" target="_blank">Дистанційне навчання</a></li>
                          </ul>
                        </li>

                        <li class="has-sub main-menu">
                          <a href="javascript:void(0)" class="non-clickable">Абітурієнту</a>
                        </li>

                        <li class="has-sub main-menu">
                          <a href="javascript:void(0)" class="non-clickable">Студенту</a>
                        </li>

                        <li class="has-sub main-menu">
                          <a href="javascript:void(0)" class="non-clickable">Викладачу</a>
                        </li>

                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
                  <h2>СФКЛНУП</h2>
                  <h6>Понад 70 років досвіду підготовки фахівців у різних галузях народного господарства.</h6>
                    <div class="main-button-green">
                      <div class="scroll-to-section"><a href="#contact">Контакти</a></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Якісна світа</h4>
                <p>У коледжі підготовлено понад 20000 фахівців. Серед них - керівники підприємств, бізнесмени, науковці, тощо.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Наші викладачі</h4>
                <p>У нас тільки висококваліфіковані викладачі – експерти, які надихають на навчання!</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Здобувачі освіти</h4>
                <p>Наші здобувачі освіти - творчі, цілеспрямовані та завжди готові до нових досягнень!</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Онлайн зустрічі</h4>
                <p>У нашому коледжі регулярно проводяться онлайн зустрічі для управління в розвитку коледжу!</p>
              </div>
            </div>

<!--            <div class="item">-->
<!--              <div class="icon">-->
<!--                <img src="/images/service-icon-03.png" alt="">-->
<!--              </div>-->
<!--              <div class="down-content">-->
<!--                <h4>Швидкі мережі</h4>-->
<!--                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Останні новини</h2>
          </div>
        </div>
        <div class="col-lg-4" th:each="news : ${latestNews}">
          <div class="meeting-item">
            <div class="thumb">
              <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><img src="/news-photos/img.png" th:alt="${news.getCaption()}"></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6 th:text="${#dates.format(news.getCreationDate(), 'MMM')}"></h6>
                <span th:text="${#dates.format(news.getCreationDate(), 'dd')}"></span>
              </div>
              <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><h4 th:text="${news.getCaption()}"></h4></a>
              <p th:text="${news.getShortDesc()}"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="main-button-green">
              <div class="scroll-to-section"><a th:href="@{/about-us/news}">Усі новини</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="apply-now" id="apply">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <h3>До уваги евакуйованих осіб!</h3>
                  <p>До уваги евакуйованих осіб, які являються учасниками освітнього процесу або персоналом ЗФПО. Для реєстрації Вам необхідно заповнити форму наведену нижче.</p>
                  <div class="main-button-green">
                    <div class="scroll-to-section"><a href="https://forms.gle/uwPcyvjcWbSkbY9cA">Заповнити форму</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="item">
                  <h3>APPLY FOR BACHELOR DEGREE</h3>
                  <p>You are not allowed to redistribute the template ZIP file on any other template website. Please contact us for more information.</p>
                  <div class="main-button-yellow">
                    <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="accordions">
              <article class="accordion">
                <div class="">
                  <span>Інформація про наш коледж</span>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Наші спеціальності</span>
                  <span class="icon">
            <i class="icon fa fa-chevron-right"></i>
        </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>Розвивайте свій потенціал у світі професій, який пропонує наш коледж. Обирайте з ряду захоплюючих та
                      перспективних спеціальностей.</p><br/>
                    <p>Обирайте своє майбутнє разом із нашим коледжем!</p>
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Життя в коледжі</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>В коледжі вам не лише здобувати знання, але й насолоджуватися життям. Спортивні
                      та інші інтересні заходи для студентів чекають Вас кожен день.</p>
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Бібліотека</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>Наша бібліотека - це не просто місце для читання. Це велика база знань, комфортне приміщення та
                      можливість отримати консультацію від досвідчених бібліотекарів.</p>
                  </div>
                </div>
              </article>
              <article class="accordion last-accordion">
                <div class="accordion-head">
                  <span>Студентське самоврядування</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>У коледжі ми віримо в силу студентського голосу. Самоврядування студентів - це ваша можливість
                      активно впливати на життя коледжу, запропонувати ідеї та реалізувати їх.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Адміністрація</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">

            <div class="item">
              <img src="/images/administration/img_9.png" alt="">
              <div class="down-content">
                <h4>Дьорка Андрій Ігорович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувач навчально-виробничою майстернею</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_10.png" alt="Course Two">
              <div class="down-content">
                <h4>Петрухін Дмитро Семенович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Керівник фізичного виховання</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img.png" alt="Course One">
              <div class="down-content">
                <h4>Рінило Ігор Ярославович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Директор коледжу</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_1.png" alt="">
              <div class="down-content">
                <h4>Здирок Марія Андріївна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступниця директора з навчальної роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_2.png" alt="">
              <div class="down-content">
                <h4>Півторак Юрій Борисович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступник директора з навчально-виробничої роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_3.png" alt="">
              <div class="down-content">
                <h4>Баран Наталія Іванівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступниця директора з виховної роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_4.png" alt="">
              <div class="down-content">
                <h4>Мош Роман Володимирович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступник директора з адміністративно-господарської роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_5.png" alt="">
              <div class="down-content">
                <h4>Пісак Тарас Васильович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувач відділенням "Механіки та енергетики"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_6.png" alt="">
              <div class="down-content">
                <h4>Остафінська Людмила Миколаївна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувачка відділенням "Будівництва, геодезії та комп’ютерних наук"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_7.png" alt="">
              <div class="down-content">
                <h4>Левкович Іванна Стефанівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувачка відділенням "Економіки, права та туризму"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_8.png" alt="">
              <div class="down-content">
                <h4>Дмитрів Алла Іванівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Головний бухгалтер</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Декілька фактів про наш коледж</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Понад<div class="count-digit">70</div></div>
                    <div class="count-title">років досвіду підготовки фахівців</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Бібліотека з книжковим фондом <div class="count-digit">65000</div></div>
                    <div class="count-title">примірників</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-title">Підготовлено понад<div class="count-digit">21000</div></div>
                    <div class="count-title">фахівців</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Золота медаль в VII Номінації «Упровадження інноваційних технологій у навчальний процес вищих навчальних закладів І-ІІ рівнів акредитації»</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ymrRtoaRFNE" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Наші дані</h2>
                  </div>
                  <div class="map">
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=23.863538503646854%2C49.27190686431115%2C23.877700567245487%2C49.27813668825422&amp;layer=mapnik&amp;marker=49.275021874635996%2C23.870619535446167" style="border: 1px solid black"></iframe>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Номер телефону</h6>
                <span>(03245) 5-20-02</span>
              </li>
              <li>
                <h6>Електронна пошта</h6>
                <span>mail@sclnau.com.ua</span>
              </li>
              <li>
                <h6>Адреса</h6>
                <span>Львівська область, м.Стрий, вул. Львівська, 169</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer">
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                <i class="fas fa-gem me-3"></i>СФК ЛНУП
              </h6>
              <p>
                Авторські права на всі матеріали, представлені на цьому сайті, належать ВСП "Стрийський фаховий коледж Львівського НУП" або безпосередньому авторові цих матеріалів.
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                Ми в соціальних мережах
              </h6>
              <p style="text-align: center">
                <a href="https://www.facebook.com/groups/sclnau" class="social-icon-link bi-facebook"> Facebook</a>
              </p>
              <p style="text-align: center">
                <a href="https://www.youtube.com/channel/UCOB4xAFAC2Btl59mO7C82og" class="social-icon-link bi-youtube"> Youtube</a>
              </p>
              <p style="text-align: center">
                <a href="https://www.instagram.com/stryicollege/" class="social-icon-link bi-instagram"> Instagram</a>
              </p>
              <p style="text-align: center">
                <a href="https://t.me/sclnau" class="social-icon-link bi-telegram"> Telegram</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase mb-4" style="font-weight: 800;">
                Посилання
              </h6>
              <p>
                <a href="/" class="text-reset">Головна</a>
              </p>
              <p>
                <a href="/about-us/news" class="text-reset">Новини</a>
              </p>
              <p>
                <a href="/about-us/licenced-volume" class="text-reset">Ліцензований обсяг</a>
              </p>
              <p>
                <a href="/about-us/public-info" class="text-reset">Публічна іформація</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase mb-4" style="font-weight: 800;">Контакти</h6>
              <p><i class="social-icon bi-map"></i>  м.Стрий, вул. Львівська, 169</p>
              <p><i class="social-icon bi-mailbox"></i>  mail@sclnau.com.ua</p>
              <p><i class="social-icon bi-phone"></i>  (03245) 5-20-02</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.25);">
        © 2024 Розробник:
        <a class="text-reset" href="https://t.me/hahaha_prekol">Огоновський Юрій</a>
      </div>
      <!-- Copyright -->
    </footer>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/slick-slider.js"></script>
    <script src="/js/custom.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
          event.preventDefault();
          const $parentLi = $(this).parent('li.has-sub');
          $parentLi.toggleClass('active').siblings().removeClass('active');
        });
      });
    </script>

</body>
</html>