<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/head.html :: head-content}">
    <title>ВСП "СФК ЛНУП"</title>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}" style="z-index: 10"> </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
                  <h2>СФКЛНУП</h2>
                  <h6>Понад 70 років досвіду підготовки фахівців у різних галузях народного господарства.</h6>
                    <div class="main-button-green">
                      <div class="scroll-to-section"><a href="#contact">Контакти</a></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Якісна світа</h4>
                <p>У коледжі підготовлено понад 20000 фахівців. Серед них - керівники підприємств, бізнесмени, науковці, тощо.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Наші викладачі</h4>
                <p>У нас тільки висококваліфіковані викладачі – експерти, які надихають на навчання!</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Здобувачі освіти</h4>
                <p>Наші здобувачі освіти - творчі, цілеспрямовані та завжди готові до нових досягнень!</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Онлайн зустрічі</h4>
                <p>У нашому коледжі регулярно проводяться онлайн зустрічі для управління в розвитку коледжу!</p>
              </div>
            </div>

<!--            <div class="item">-->
<!--              <div class="icon">-->
<!--                <img src="/images/service-icon-03.png" alt="">-->
<!--              </div>-->
<!--              <div class="down-content">-->
<!--                <h4>Швидкі мережі</h4>-->
<!--                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Останні новини</h2>
          </div>
        </div>
        <div class="col-lg-4" th:each="news : ${latestNews}">
          <div class="meeting-item">
            <div class="thumb">
              <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><img src="/news-photos/img.png" th:alt="${news.getCaption()}"></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6 th:text="${#dates.format(news.getCreationDate(), 'MMM')}"></h6>
                <span th:text="${#dates.format(news.getCreationDate(), 'dd')}"></span>
              </div>
              <a th:href="@{/about-us/news/{id}(id=${news.getId()})}"><h4 th:text="${news.getCaption()}"></h4></a>
              <p th:text="${news.getShortDesc()}"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="main-button-green">
              <div class="scroll-to-section"><a th:href="@{/about-us/news}">Усі новини</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="apply-now" id="apply">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <h3>До уваги евакуйованих осіб!</h3>
                  <p>До уваги евакуйованих осіб, які являються учасниками освітнього процесу або персоналом ЗФПО. Для реєстрації Вам необхідно заповнити форму наведену нижче.</p>
                  <div class="main-button-green">
                    <div class="scroll-to-section"><a href="https://forms.gle/uwPcyvjcWbSkbY9cA">Заповнити форму</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="item">
                  <h3>APPLY FOR BACHELOR DEGREE</h3>
                  <p>You are not allowed to redistribute the template ZIP file on any other template website. Please contact us for more information.</p>
                  <div class="main-button-yellow">
                    <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="accordions">
              <article class="accordion">
                <div class="">
                  <span>Інформація про наш коледж</span>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Наші спеціальності</span>
                  <span class="icon">
            <i class="icon fa fa-chevron-right"></i>
        </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>Розвивайте свій потенціал у світі професій, який пропонує наш коледж. Обирайте з ряду захоплюючих та
                      перспективних спеціальностей.</p><br/>
                    <p>Обирайте своє майбутнє разом із нашим коледжем!</p>
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Життя в коледжі</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>В коледжі вам не лише здобувати знання, але й насолоджуватися життям. Спортивні
                      та інші інтересні заходи для студентів чекають Вас кожен день.</p>
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-head">
                  <span>Бібліотека</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>Наша бібліотека - це не просто місце для читання. Це велика база знань, комфортне приміщення та
                      можливість отримати консультацію від досвідчених бібліотекарів.</p>
                  </div>
                </div>
              </article>
              <article class="accordion last-accordion">
                <div class="accordion-head">
                  <span>Студентське самоврядування</span>
                  <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
                </div>
                <div class="accordion-body">
                  <div class="content">
                    <p>У коледжі ми віримо в силу студентського голосу. Самоврядування студентів - це ваша можливість
                      активно впливати на життя коледжу, запропонувати ідеї та реалізувати їх.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Адміністрація</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">

            <div class="item">
              <img src="/images/administration/img_9.png" alt="">
              <div class="down-content">
                <h4>Дьорка Андрій Ігорович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувач навчально-виробничою майстернею</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_10.png" alt="Course Two">
              <div class="down-content">
                <h4>Петрухін Дмитро Семенович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Керівник фізичного виховання</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img.png" alt="Course One">
              <div class="down-content">
                <h4>Рінило Ігор Ярославович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Директор коледжу</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_1.png" alt="">
              <div class="down-content">
                <h4>Здирок Марія Андріївна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступниця директора з навчальної роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_2.png" alt="">
              <div class="down-content">
                <h4>Півторак Юрій Борисович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступник директора з навчально-виробничої роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_3.png" alt="">
              <div class="down-content">
                <h4>Баран Наталія Іванівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступниця директора з виховної роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_4.png" alt="">
              <div class="down-content">
                <h4>Мош Роман Володимирович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Заступник директора з адміністративно-господарської роботи</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_5.png" alt="">
              <div class="down-content">
                <h4>Пісак Тарас Васильович</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувач відділенням "Механіки та енергетики"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_6.png" alt="">
              <div class="down-content">
                <h4>Остафінська Людмила Миколаївна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувачка відділенням "Будівництва, геодезії та комп’ютерних наук"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_7.png" alt="">
              <div class="down-content">
                <h4>Левкович Іванна Стефанівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Завідувачка відділенням "Економіки, права та туризму"</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="/images/administration/img_8.png" alt="">
              <div class="down-content">
                <h4>Дмитрів Алла Іванівна</h4>
                <div class="info">
                  <div class="row">
                    <ul class="text-center">
                      <p>Головний бухгалтер</p>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Декілька фактів про наш коледж</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Понад<div class="count-digit">70</div></div>
                    <div class="count-title">років досвіду підготовки фахівців</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Бібліотека з книжковим фондом <div class="count-digit">65000</div></div>
                    <div class="count-title">примірників</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-title">Підготовлено понад<div class="count-digit">21000</div></div>
                    <div class="count-title">фахівців</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-title">Золота медаль в VII Номінації «Упровадження інноваційних технологій у навчальний процес вищих навчальних закладів І-ІІ рівнів акредитації»</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ymrRtoaRFNE" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Наші дані</h2>
                  </div>
                  <div class="map">
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=23.863538503646854%2C49.27190686431115%2C23.877700567245487%2C49.27813668825422&amp;layer=mapnik&amp;marker=49.275021874635996%2C23.870619535446167" style="border: 1px solid black"></iframe>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Номер телефону</h6>
                <span>(03245) 5-20-02</span>
              </li>
              <li>
                <h6>Електронна пошта</h6>
                <span>mail@sclnau.com.ua</span>
              </li>
              <li>
                <h6>Адреса</h6>
                <span>Львівська область, м.Стрий, вул. Львівська, 169</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

<section th:insert="~{fragments/footer.html :: section}"> </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/slick-slider.js"></script>
    <script src="/js/custom.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.header-area .main-nav .nav').on('click', 'li.has-sub > a', function (event) {
          event.preventDefault();
          const $parentLi = $(this).parent('li.has-sub');
          $parentLi.toggleClass('active').siblings().removeClass('active');
        });
      });
    </script>

</body>
</html>