<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            SFKLNUP
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="/" >Головна</a></li>

            <li class="has-sub main-menu">
              <a href="javascript:void(0)" class="non-clickable">Про нас</a>
              <ul class="sub-menu">
                <li><a th:href="@{/about-us/news}">Новини</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Відділення</a>
                  <ul class="sub-menu">
                    <li class="has-sub">
                      <a href="" class="non-clickable">Відділення механіки та енергетики</a>
                      <ul class="sub-menu">
                        <li class="has-sub">
                          <a href="" class="non-clickable">Документи</a>
                          <ul class="sub-menu">
                            <li><a href="/documents/meh/PRV.pdf" target="_blank">План роботи відділення</a></li>
                            <li><a href="/documents/meh/RSE3.pdf" target="_blank">Розклад екзаменів III курсу</a></li>
                            <li><a href="/documents/meh/RSE4.pdf" target="_blank">Розклад екзаменів IV курсу</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="has-sub">
                      <a href="" class="non-clickable">Відділення будівництва, геодезії та комп’ютерних наук</a>
                      <ul class="sub-menu">
                        <li class="has-sub">
                          <a href="" class="non-clickable">Документи</a>
                          <ul class="sub-menu">
                            <li><a href="/documents/bud/PRV.pdf" target="_blank">План роботи відділення</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="has-sub">
                      <a href="" class="non-clickable">Відділення економіки, права і туризму</a>
                      <ul class="sub-menu">
                        <li class="has-sub">
                          <a href="" class="non-clickable">Документи</a>
                          <ul class="sub-menu">
                            <li><a href="/documents/tur/PRV.pdf" target="_blank">План роботи</a></li>
                            <li><a href="/documents/tur/RET4.pdf" target="_blank">Розклад здачі підсумкових екзаменів IV курсу спеціальності "Туризм"</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="">Циклові комісії -</a></li>
                <li><a href="/about-us/licenced-volume">Ліцензований обсяг</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Публічна інформація +-</a>
                  <ul class="sub-menu">
                    <li><a href="/about-us/public-info">Доступ до публічної інформації</a></li>
                    <li class="has-sub">
                      <a href="javascript:void(0)" class="non-clickable">Ліцензії та сертифікати</a>
                      <ul class="sub-menu">
                        <li><a href="/about-us/public-info/licences">Ліцензії</a></li>
                        <li><a href="/about-us/public-info/certificates">Сертифікати</a></li>
                      </ul>
                    </li>
                    <li class="has-sub">
                      <a href="javascript:void(0)" class="non-clickable">Нормативні документи</a>
                      <ul class="sub-menu">
                        <li><a href="/about-us/public-info/regulations/overall">Загальні</a></li>
                        <li><a href="/about-us/public-info/regulations/educational-process">Освітній процес</a></li>
                      </ul>
                    </li>
                    <li class="has-sub">
                      <a href="javascript:void(0)" class="non-clickable">Фінансова діяльність</a>
                      <ul class="sub-menu">
                        <li><a href="/about-us/public-info/financial-activity/paid-services">Платні послуги</a></li>
                        <li><a href="/about-us/public-info/financial-activity/reportings">Звітність</a></li>
                        <li><a href="/about-us/public-info/financial-activity/payment-details">Платіжні реквізити</a></li>
                      </ul>
                    </li>
                    <li><a href="/about-us/public-info/activity-reports">Звіти про діяльність</a></li>
                    <li><a href="/about-us/public-info/cadre">Кадровий склад</a></li>
                    <li><a href="/about-us/public-info/availability">Умови доступності закладу освіти</a></li>
                    <li><a href="">Вибори директора -</a></li>
                  </ul>
                </li>
                <li><a href="/about-us/monitoring">Моніторинг</a></li>
                <li><a href="">Профспілковий комітет -</a></li>
                <li><a href="/about-us/material-technical-base">Матеріально-технічна база</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Бібліотека</a>
                  <ul class="sub-menu">
                    <li><a href="/about-us/library/terms">Загальна інформація</a></li>
                    <li><a href="/about-us/library/new">Нові надходження</a></li>
                    <li><a href="/about-us/library/periodicals">Періодичні видання</a></li>
                    <li><a href="https://elib.sclnau.com.ua" rel="noopener noreferrer" target="_blank">Електронна бібліотека</a></li>
                  </ul>
                </li>
                <li><a href="/documents/MOP.pdf" target="_blank">Мова освітнього процесу</a></li>
                <li><a href="/about-us/photo-gallery">Фотогалерея</a></li>
                <li><a href="/about-us/historical-sequence">Віхи історії</a></li>
                <li><a href="/about-us/international-relations">Міжнародні зв'язки</a></li>
              </ul>
            </li>

            <!--                        START OF PROCESS            -->
            <li class="has-sub main-menu">
              <a href="javascript:void(0)" class="non-clickable">Освітній процес</a>
              <ul class="sub-menu">
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Забезпечення якості освіти</a>
                  <ul class="sub-menu">
                    <li><a href="">Внутрішня система забезпечення якості освіти</a></li>
                    <li><a href="">Нормативні документи</a></li>
                    <li><a href="">Рада з якості освіти</a></li>
                    <li><a href="">Академічна доброчесність</a></li>
                    <li><a href="">Антикорупційна дільність</a></li>
                  </ul>
                </li>
                <li><a href="">Освітні програми</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Формування індивідуальної освітньої траєкторії</a>
                  <ul class="sub-menu">
                    <li><a href="">Силабуси дисциплін</a></li>
                    <li><a href="">Вибіркові дисципліни</a></li>
                    <li><a href="">Етапи вибору дисциплін</a></li>
                  </ul>
                </li>
                <li><a href="">Неформальна/інформальна освіта</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Практична підготовка</a>
                  <ul class="sub-menu">
                    <li><a href="">Професійно-технічне навчання</a></li>
                    <li><a href="">Навчально-виробнича майстерня</a></li>
                    <!-- Add the rest of the items for "Практична підготовка" similarly -->
                  </ul>
                </li>
                <li><a href="">Працевлаштування</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)" class="non-clickable">Безпека освітнього середовища</a>
                  <ul class="sub-menu">
                    <li class="has-sub">
                      <a href="javascript:void(0)" class="non-clickable">Охорона праці та цивільний захист</a>
                      <ul class="sub-menu">
                        <li class="has-sub">
                          <a href="javascript:void(0)" class="non-clickable">Охорона праці</a>
                          <ul class="sub-menu">
                            <li><a href="">Документи</a></li>
                            <li><a href="">Програми</a></li>
                            <li><a href="">Інструкції</a></li>
                            <li><a href="">Корисні посилання</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="">Безпека в Інтернеті</a></li>
                  </ul>
                </li>
                <li><a href="https://edu.sclnau.com.ua" rel="noopener noreferrer" target="_blank">Система обліку відвідування аудиторних занять (СОВА)</a></li>
                <li><a href="https://classroom.google.com" rel="noopener noreferrer" target="_blank">Дистанційне навчання</a></li>
              </ul>
            </li>

            <li class="has-sub main-menu">
              <a href="javascript:void(0)" class="non-clickable">Абітурієнту</a>
            </li>

            <li class="has-sub main-menu">
              <a href="javascript:void(0)" class="non-clickable">Студенту</a>
            </li>

            <li class="has-sub main-menu">
              <a href="javascript:void(0)" class="non-clickable">Викладачу</a>
            </li>

          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>